<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="LogToConsole"/>
        </Root>

        <Logger name="net.videki" level="TRACE" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.wickedsource" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.jxls" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>

    </Loggers>
</Configuration>
